<div>
  <div class="flex flex-col flex-wrap justify-center m-3 border-8 border-yellow-950 rounded-md">
    <h2 class='title bg-yellow-950 text-lime-200 py-2 font-semibold text-sm sm:text-lg md:text-xl'>Login</h2>

    <form class="form m-1">
      <div class="form-group flex flex-col m-1">
        <label for="username" class="font-semibold text-sm sm:text-lg md:text-xl my-1">username:</label>
        <input class="form-input p-1" type="text" id="username" />
      </div>
      <div class="form-group flex flex-col m-1">
        <label for="password" class="font-semibold text-sm sm:text-lg md:text-xl my-1">password:</label>
        <input class="form-input p-1" type="password" id="password" />
      </div>
      <div class="form-group grid m-1 mt-2">
        <button class='submitBtn text-lime-200 bg-gray-500 rounded-md font-semibold text-sm sm:text-lg md:text-xl' type="submit">Login!</button>
      </div>
    </form>
  </div>
  <div>
    <h2> <button class='option add text-lime-200 bg-gray-500 rounded-md font-semibold text-sm sm:text-lg md:text-xl btn p-1 m-3' type = "button" >Sign Up Instead</button></h2>
  </div>
</div>

<script src="./js/login.js"></script>